<h1><%= @post.title %></h1>

<h3>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></h3>

<h3>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></h3>

<h3>Likes: <%= @post.likes %></h3>

<p><%= @post.content %></p>
